.person-entry-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.7rem;
  border-bottom: 0.8px dashed rgba(0, 0, 0, 0.3);
}

.person-name-form {
  width: 13%;
  min-width: 13%;
}

.person-skill-form {
  width: 5%;
  min-width: 5%;
}

.person-date-form {
  width: 6%;
  min-width: 6%;
}

.person-days-form {
  width: 6%;
  min-width: 6%;
  justify-content: center;
}

.person-comments-form {
  flex-grow: 1;
}

.person-tags-form {
  width: 12%;
  min-width: 12%;
  position: relative;
}

.person-pdm-form {
  width: 5%;
  min-width: 5%;
  text-align: center;
}

.btn-group {
  width: 23%;
  min-width: 23%;
}
