<form
  [formGroup]="personForm"
  (ngSubmit)="onSubmit()"
  class="person-entry-form"
>
  <input
    id="person-name"
    class="form-control person-name-form tbl-row mr-12"
    type="text"
    placeholder="Name"
    formControlName="name"
    [typeahead]="getTypeAhead('name')"
  />
  <input
    id="person-skill"
    class="form-control person-skill-form tbl-row mr-12"
    type="text"
    placeholder="Skill"
    formControlName="skill"
    [typeahead]="getTypeAhead('skill')"
  />
  <span [ngClass]="getFieldClasses('days')">{{ getDaysAvailable() }}</span>

  <div class="btn-group tbl-row mr-12">
    <week-days
      [weekObj]="person?.week"
      (calendarChange)="onCalendarChange($event)"
      [inEditMode]="true"
    ></week-days>
  </div>
  <input
    id="person-comments"
    class="form-control person-comments-form tbl-row"
    type="text"
    placeholder="Comments"
    formControlName="comments"
  />
  <label for="{{ 'submit-form-' + idx }}">
    <i class="bi bi-check-circle i-active mr-8"></i>
  </label>
  <i class="bi bi-trash i-active" (click)="handleDelete()"></i>
  <button id="{{ 'submit-form-' + idx }}" type="submit" hidden></button>
</form>
