.person-entry-form {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.person-name-form {
  width: 25%;
  min-width: 25%;
}

.person-skill-form {
  width: 15%;
  min-width: 15%;
}

.person-days-form {
  width: 10%;
  min-width: 10%;
}

.person-comments-form {
  width: 30%;
  min-width: 30%;
}

.btn-group {
  width: 50%;
  min-width: 50%;
}

.tbl-col {
  margin-right: 8px;
}
