<nav class="main-toolbar">
  <div class="toolbar-group toolbar-group--left flex flex-ver-ctr">
    <button
      *ngIf="!inEditMode"
      type="button"
      class="btn btn-primary btn-menu mr-20"
      (click)="setInEditMode(true)"
    >
      Edit
    </button>

    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-primary btn-menu btn-main-action"
      (click)="addNewRow()"
    >
      Add
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-primary btn-main-action ml-15"
      (click)="saveChanges()"
    >
      Save
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-secondary btn-main-action"
      (click)="cancelChanges()"
    >
      Cancel
    </button>
  </div>
  <div class="toolbar-group toolbar-group--center flex flex-ver-ctr"></div>
  <div class="toolbar-group toolbar-group--right flex flex-ver-ctr">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        [checked]="showAvailableOnly"
        (click)="toggleShowAvailableOnly()"
        tooltip="Show available only"
        placement="top"
        [delay]="600"
      />
    </div>
    <i
      [ngClass]="getClearFilterBtnClass()"
      tooltip="Clear filters"
      placement="top"
      [delay]="600"
      (click)="clearFilters()"
    ></i>
  </div>
</nav>
<ul class="people" #page id="page-projects">
  <li>
    <project-list-header
      [sortable]="true"
      [currentSort]="sortService.sort"
      [entryContainerWidth]="entryContainerWidth"
      (newSortEvent)="handleSort($event)"
    ></project-list-header>
  </li>

  <div class="project content tl-content">
    <div *ngIf="fetchError && !inEditMode" class="alert alert-danger">
      {{ fetchError }}
    </div>
    <div
      *ngIf="noData && !inEditMode && dataSet.length === 0"
      class="alert alert-primary"
    >
      No data available
    </div>
    <ul *ngIf="inEditMode">
      <li *ngFor="let row of newRows">
        <project-entry-form
          [id]="row.id"
          [referenceDate]="referenceDate"
          [entryData]="row"
          [cleanSlate]="true"
          [sortField]="sortService.sort.field"
          [entryContainerWidth]="entryContainerWidth"
          [dispatchToParentAndClose]="saveChangesInProgress"
          (deleteEvent)="removeRow($event)"
          (formSubmitEvent)="addProject($event)"
          (formPendingEvent)="handleFormPending()"
        ></project-entry-form>
      </li>
    </ul>
    <li *ngFor="let project of filteredDataset">
      <ng-container [ngSwitch]="project.inEditMode">
        <project-entry
          *ngSwitchCase="false"
          [id]="project.id"
          [entryData]="project"
          [inEditMode]="inEditMode"
          [sortField]="sortService.sort.field"
          [isCollapsed]="isCollapsed(project.id)"
          [referenceDate]="referenceDate"
          [entryContainerWidth]="entryContainerWidth"
          (editEvent)="editRow($event)"
          (deleteEvent)="removeExistingRow($event)"
          (calendarChangeEvent)="updateCalendar($event)"
          (tagChangeEvent)="handleUpdateTags($event)"
          (collapseEvent)="handleCollapse($event)"
        ></project-entry>
        <project-entry-form
          *ngSwitchCase="true"
          [id]="project.id"
          [entryData]="project"
          [cleanSlate]="false"
          [sortField]="sortService.sort.field"
          [referenceDate]="referenceDate"
          [entryContainerWidth]="entryContainerWidth"
          [dispatchToParentAndClose]="saveChangesInProgress"
          (deleteEvent)="removeExistingRow($event)"
          (formEditEvent)="updateProjectDetails($event)"
          (tagChangeEvent)="handleUpdateTags($event)"
          (formPendingEvent)="handleFormPending()"
        >
        </project-entry-form>
      </ng-container>
    </li>
  </div>
</ul>
<loading-overlay *ngIf="fetching || uploading"> </loading-overlay>
