<nav class="main-toolbar">
  <div class="toolbar-group toolbar-group--left flex flex-ver-ctr">
    <button
      *ngIf="fileSelected && !uploading"
      type="button"
      class="btn btn-primary mr-20"
      (click)="onSubmit()"
    >
      Upload
    </button>
    <button
      *ngIf="uploading"
      type="button"
      class="btn btn-primary mr-20"
      disabled
    >
      <span
        class="spinner-grow spinner-grow-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Uploading...
    </button>
    <label for="upload" type="button" class="btn btn-primary btn-menu mr-20">
      Select file
    </label>
    <input
      type="file"
      id="upload"
      name="upload"
      accept="csv"
      hidden
      (change)="onFileSelected($event)"
    />
  </div>
  <div class="toolbar-group toolbar-group--right flex flex-ver-ctr">&nbsp;</div>
</nav>

<ul class="people" id="page-upload" #page>
  <li>
    <people-list-header
      [entryContainerWidth]="entryContainerWidth"
    ></people-list-header>
  </li>
  <div class="people-content">
    <div *ngIf="fetchError && !uploaded" class="alert alert-danger">
      {{ fetchError }}
    </div>
    <div *ngIf="noData" class="alert alert-primary">No data available</div>
    <div *ngIf="uploaded" class="alert alert-success">
      <strong>Success!</strong> Data has been uploaded
    </div>
    <li *ngFor="let person of previewData; let i = index">
      <person-entry
        [id]="person.id"
        [entryData]="person"
        [editable]="false"
        [entryContainerWidth]="entryContainerWidth"
        [isCollapsed]="isCollapsed(person.id)"
        (collapseEvent)="handleCollapse($event)"
      ></person-entry>
    </li>
  </div>
</ul>
<modal-window
  *ngIf="showUploadModal"
  [text]="'Upload data?'"
  [btnConfirmText]="'Upload'"
  [btnCloseText]="'Cancel'"
  [modalType]="'CONFIRM'"
  (closeEvent)="handleModalClose($event)"
></modal-window>
<loading-overlay *ngIf="fetching || uploading"> </loading-overlay>
