<nav class="main-toolbar">
  <div class="toolbar-group toolbar-group--left flex flex-ver-ctr">
    <button *ngIf="fileSelected" type="button" class="btn btn-success mr-20">
      Upload
    </button>
    <label for="upload" type="button" class="btn btn-primary mr-20">
      Select file
    </label>
    <input
      type="file"
      id="upload"
      name="upload"
      accept="csv"
      hidden
      (change)="onFileSelected($event)"
    />

    <calendar
      [scrollable]="true"
      [weekly]="true"
      [baseDay]="1"
      [dateVal]="referenceDateStart"
      (dateChangeEvent)="setReferenceDate($event)"
    ></calendar>
  </div>
</nav>
<ul *ngIf="previewData.length" class="people">
  <li>
    <people-list-header></people-list-header>
  </li>
  <div class="people-content">
    <li *ngFor="let person of previewData; let i = index">
      <person-entry
        [id]="person.id"
        [person]="person"
        [editable]="false"
      ></person-entry>
    </li>
  </div>
</ul>
