<div class="person-entry-header tl-header">
  <span
    class="section section-name mr-12 pl-3 clickable"
    (click)="handleClick('name')"
    >Name
    <i
      *ngIf="getSort('name', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('name', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span
    class="section section-skill mr-12 pl-3 clickable"
    (click)="handleClick('skill')"
    >Skill
    <i
      *ngIf="getSort('skill', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('skill', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span
    *ngIf="displayedIn !== 'ALLOCATE'"
    class="section section-availDate mr-12 pl-3 clickable"
    (click)="handleClick('availDate')"
    >From
    <i
      *ngIf="getSort('availDate', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i
      *ngIf="getSort('availDate', -1)"
      class="bi bi-sort-up fs-085 ptop-3 ml-2"
    ></i
  ></span>
  <span
    class="section section-days mr-12 pl-3 clickable"
    (click)="handleClick('days')"
    >Days
    <i
      *ngIf="getSort('days', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('days', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span class="calendar-group txt-center mr-12">Week</span>
  <span
    *ngIf="displayedIn !== 'ALLOCATE'"
    class="section-tags txt-center pl-3 mr-12"
    >Tags</span
  >
  <span
    *ngIf="displayedIn !== 'ALLOCATE'"
    class="section section-pdm pl-3 mr-12 clickable"
    (click)="handleClick('pdm')"
    >PDM<i
      *ngIf="getSort('pdm', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('pdm', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span
    *ngIf="displayedIn !== 'ALLOCATE'"
    class="section section-comments txt-center pl-3"
    >Comments</span
  >
  <div class="edit-entry-icons"></div>
</div>
