<div class="entry-header tl-header">
  <span
    class="section section-name header-entry mr-12 pl-3 clickable"
    (click)="handleClick('name')"
    >Name
    <i
      *ngIf="getSort('name', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('name', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span
    class="section section-skill header-entry mr-12 pl-3 clickable"
    (click)="handleClick('skill')"
    >Skill
    <i
      *ngIf="getSort('skill', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('skill', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span
    *ngIf="displayedIn !== 'ALLOCATE'"
    class="section section-availDate header-entry mr-12 pl-3 clickable"
    (click)="handleClick('availDate')"
    >From
    <i
      *ngIf="getSort('availDate', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i
      *ngIf="getSort('availDate', -1)"
      class="bi bi-sort-up fs-085 ptop-3 ml-2"
    ></i
  ></span>
  <span
    class="section section-days header-entry mr-12 pl-3 clickable"
    (click)="handleClick('days')"
    >Days
    <i
      *ngIf="getSort('days', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('days', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span class="calendar-group txt-center mr-12">Week</span>
  <span
    @insertRemoveTrigger
    *ngIf="entryContainerWidth === 2 || entryContainerWidth > 2"
    class="section-tags section-tags-header header-entry txt-center pl-3 mr-12"
    >Tags</span
  >
  <span
    @insertRemoveTrigger
    *ngIf="entryContainerWidth === 3 || entryContainerWidth > 3"
    class="section section-pdm header-entry pl-3 mr-12 clickable"
    (click)="handleClick('pdm')"
    >PDM<i
      *ngIf="getSort('pdm', 1)"
      class="bi bi-sort-down-alt fs-085 ptop-3 ml-2"
    ></i>
    <i *ngIf="getSort('pdm', -1)" class="bi bi-sort-up fs-085 ptop-3 ml-2"></i
  ></span>
  <span
    @insertRemoveTrigger
    *ngIf="entryContainerWidth === 4 || entryContainerWidth > 4"
    class="section-comments section-comments--header header-entry txt-center pl-3 mr-12 ov-vis"
    >Comments</span
  >
  <div class="edit-entry-icons"></div>
</div>
