<nav class="main-toolbar">
  <div class="toolbar-group toolbar-group--left">
    <button
      *ngIf="!inEditMode"
      type="button"
      class="btn btn-success mr-20"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <button
      *ngIf="!inEditMode"
      type="button"
      class="btn btn-primary"
      (click)="setInEditMode(true)"
    >
      Edit
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-primary btn-main-action"
      (click)="addNewRow()"
    >
      Add
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-primary btn-main-action"
      (click)="setInEditMode(false)"
    >
      Save
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-secondary btn-main-action"
      (click)="cancelChanges()"
    >
      Cancel
    </button>
  </div>
  <div class="toolbar-group toolbar-group--right flex flex-ctr-ver">
    <select
      class="form-select mr-10"
      (change)="updateSkillFilter($event)"
      [formControl]="skillFilter"
    >
      <option value="All" selected>All</option>
      <option value="EM">EM</option>
      <option value="ASC">ASC</option>
      <option value="FELL">FELL</option>
      <option value="BA">BA</option>
      <option value="INT">INT</option>
    </select>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        [checked]="showAvailableOnly"
        (click)="toggleShowAvailableOnly()"
        tooltip="Show available only"
        placement="top"
        [delay]="600"
      />
    </div>
    <i
      [ngClass]="getClearFilterBtnClass()"
      tooltip="Clear filters"
      placement="top"
      [delay]="600"
      (click)="clearFilters()"
    ></i>
  </div>
</nav>

<ul class="people">
  <li>
    <div class="person-entry-header">
      <span
        class="person-entry-header__name tbl-row mr-12 pl-3 clickable"
        (click)="handleSort('name')"
        >Name <i *ngIf="getSort('name', 1)" class="bi bi-sort-down-alt"></i>
        <i *ngIf="getSort('name', -1)" class="bi bi-sort-up"></i
      ></span>
      <span
        class="person-entry-header__skill tbl-row mr-12 pl-3 clickable"
        (click)="handleSort('skill')"
        >Skill <i *ngIf="getSort('skill', 1)" class="bi bi-sort-down-alt"></i>
        <i *ngIf="getSort('skill', -1)" class="bi bi-sort-up"></i
      ></span>
      <span
        class="person-entry-header__days tbl-row mr-12 pl-3 clickable"
        (click)="handleSort('days')"
        >Days <i *ngIf="getSort('days', 1)" class="bi bi-sort-down-alt"></i>
        <i *ngIf="getSort('days', -1)" class="bi bi-sort-up"></i
      ></span>
      <span class="person-entry-header__week tbl-row mr-12 clickable">
        Week
      </span>
      <span class="person-entry-header__comments tbl-row pl-3 mr-12"
        >Comments</span
      >
      <span class="person-entry-header__comments tbl-row pl-3">Tags</span>
    </div>
  </li>
  <ul *ngIf="inEditMode">
    <li *ngFor="let row of newRows; let i = index">
      <person-entry-form
        [idx]="i"
        [sortField]="sort.field"
        (deleteEvent)="removeRow($event)"
        (formSubmitEvent)="addPerson($event)"
      ></person-entry-form>
    </li>
  </ul>
  <li *ngFor="let person of peopleFilteredView; let i = index">
    <ng-container [ngSwitch]="person.inEditMode">
      <person-entry
        *ngSwitchCase="false"
        [idx]="i"
        [person]="person"
        [inEditMode]="inEditMode"
        [sortField]="sort.field"
        (editEvent)="editRow($event)"
        (deleteEvent)="removeExistingRow($event)"
        (calendarChangeEvent)="updateCalendar($event)"
      ></person-entry>
      <person-entry-form
        *ngSwitchCase="true"
        [idx]="i"
        [person]="person"
        [sortField]="sort.field"
        (deleteEvent)="removeExistingRow($event)"
        (calendarChangeEvent)="updateCalendar($event)"
        (formEditEvent)="updatePersonDetails($event)"
      ></person-entry-form>
    </ng-container>
  </li>
</ul>
<modal-window
  *ngIf="showSubmitModal"
  [title]="'Submit people list'"
  [text]="'Are you sure?'"
  [btnConfirmText]="'Submit'"
  [btnCloseText]="'Close'"
  [modalType]="'CONFIRM'"
  (closeEvent)="handleModalClose($event)"
></modal-window>
