<h2>People list</h2>
<button
  *ngIf="!inEditMode"
  type="button"
  class="btn btn-primary"
  (click)="setInEditMode(true)"
>
  Edit
</button>
<button
  *ngIf="inEditMode"
  type="button"
  class="btn btn-primary btn-main-action"
  (click)="addNewRow()"
>
  Add
</button>
<button
  *ngIf="inEditMode"
  type="button"
  class="btn btn-primary btn-main-action"
  (click)="setInEditMode(false)"
>
  Save
</button>
<button
  *ngIf="inEditMode"
  type="button"
  class="btn btn-secondary btn-main-action"
  (click)="setInEditMode(false)"
>
  Cancel
</button>
<ul class="people">
  <li>
    <div class="person-entry-header">
      <span
        class="person-entry-header__name tbl-col clickable"
        (click)="handleSort('name')"
        >Name <i *ngIf="getSort('name', 1)" class="bi bi-sort-down-alt"></i>
        <i *ngIf="getSort('name', -1)" class="bi bi-sort-up"></i
      ></span>
      <span
        class="person-entry-header__skill tbl-col clickable"
        (click)="handleSort('skill')"
        >Skill <i *ngIf="getSort('skill', 1)" class="bi bi-sort-down-alt"></i>
        <i *ngIf="getSort('skill', -1)" class="bi bi-sort-up"></i
      ></span>
      <span
        class="person-entry-header__days tbl-col clickable"
        (click)="handleSort('days')"
        >Days <i *ngIf="getSort('days', 1)" class="bi bi-sort-down-alt"></i>
        <i *ngIf="getSort('days', -1)" class="bi bi-sort-up"></i
      ></span>
      <span class="person-entry-header__week tbl-col clickable"> Week </span>
      <span class="person-entry-header__comments tbl-col">Comments</span>
    </div>
  </li>
  <ul *ngIf="inEditMode">
    <li *ngFor="let row of newRows; let i = index">
      <person-entry-form
        [idx]="i"
        (deleteEvent)="removeRow($event)"
        (formSubmitEvent)="addPerson($event)"
      ></person-entry-form>
    </li>
  </ul>
  <li *ngFor="let person of people; let i = index">
    <ng-container [ngSwitch]="person.inEditMode">
      <person-entry
        *ngSwitchCase="false"
        [idx]="i"
        [person]="person"
        [inEditMode]="inEditMode"
        (editEvent)="editRow($event)"
        (deleteEvent)="removeExistingRow($event)"
        (calendarChangeEvent)="updateCalendar($event)"
      ></person-entry>
      <person-entry-form
        *ngSwitchCase="true"
        [idx]="i"
        [person]="person"
        (deleteEvent)="removeExistingRow($event)"
        (calendarChangeEvent)="updateCalendar($event)"
        (formEditEvent)="updatePersonDetails($event)"
      ></person-entry-form>
    </ng-container>
  </li>
</ul>
