<nav class="main-toolbar">
  <div class="toolbar-group toolbar-group--left flex flex-ver-ctr">
    <button
      *ngIf="
        !inEditMode &&
        pdmFilter.value !== 'All' &&
        !submitted &&
        displayedIn !== 'ALLOCATE'
      "
      type="button"
      class="btn btn-success mr-20"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <button
      *ngIf="
        !inEditMode &&
        (displayedIn === 'ALLOCATE' ||
          (pdmFilter.value !== 'All' && !submitted))
      "
      type="button"
      class="btn btn-primary mr-20"
      (click)="setInEditMode(true)"
    >
      Edit
    </button>

    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-primary btn-main-action"
      (click)="addNewRow()"
    >
      Add
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-primary btn-main-action"
      (click)="saveChanges()"
    >
      Save
    </button>
    <button
      *ngIf="inEditMode"
      type="button"
      class="btn btn-secondary btn-main-action"
      (click)="cancelChanges()"
    >
      Cancel
    </button>
  </div>
  <div class="toolbar-group toolbar-group--center flex flex-ver-ctr">
    <calendar
      [scrollable]="true"
      [weekly]="true"
      [baseDay]="1"
      [dateVal]="referenceDate"
      (dateChangeEvent)="onDateChange($event)"
    ></calendar>
  </div>
  <div class="toolbar-group toolbar-group--right flex flex-ver-ctr">
    <span *ngIf="statusLabel === 'pending'" class="badge bg-warning text-dark"
      >Pending</span
    >
    <span *ngIf="statusLabel === 'done'" class="badge bg-success"
      >Submitted</span
    >
    <select
      *ngIf="displayedIn === 'SUBMIT'"
      class="form-select mr-10 mw-12 ml-12"
      (change)="updatePDMFilter($event)"
      [formControl]="pdmFilter"
    >
      <option value="All" selected>All</option>
      <option *ngFor="let pdm of getPDMList()">
        {{ pdm }}
      </option>
    </select>
    <select
      *ngIf="displayedIn === 'ALLOCATE'"
      class="form-select mr-10 mw-12 ml-12"
      (change)="updateSkillFilter($event)"
      [formControl]="pdmFilter"
    >
      <option value="All" selected>All</option>
      <option value="EM" selected>EM</option>
      <option value="SRAS" selected>SRAS</option>
      <option value="ASC" selected>ASC</option>
      <option value="FELL" selected>FELL</option>
      <option value="BA" selected>BA</option>
      <option value="INT" selected>INT</option>
    </select>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        [checked]="showAvailableOnly"
        (click)="toggleShowAvailableOnly()"
        tooltip="Show available only"
        placement="top"
        [delay]="600"
      />
    </div>
    <i
      [ngClass]="getClearFilterBtnClass()"
      tooltip="Clear filters"
      placement="top"
      [delay]="600"
      (click)="clearFilters()"
    ></i>
  </div>
</nav>

<ul class="people">
  <li>
    <people-list-header
      [sortable]="true"
      [displayedIn]="displayedIn"
      [currentSort]="sortService.sort"
      (newSortEvent)="handleSort($event)"
    ></people-list-header>
  </li>

  <div class="people-content tl-content">
    <div *ngIf="fetchError" class="alert alert-danger">
      {{ fetchError }}
    </div>
    <div *ngIf="noData" class="alert alert-primary">No data available</div>
    <ul *ngIf="inEditMode">
      <li *ngFor="let row of newRows">
        <person-entry-form
          [id]="row.id"
          [displayedIn]="displayedIn"
          [sortField]="sortService.sort.field"
          [currPageSection]="'ALLOCATE'"
          [referenceDate]="referenceDate"
          [getNameTypeAhead]="boundGetNameTypeahead"
          [pdm]="pdmFilter.value"
          [dispatchToParentAndClose]="saveChangesInProgress"
          (deleteEvent)="removeRow($event)"
          (formSubmitEvent)="addPerson($event)"
        ></person-entry-form>
      </li>
    </ul>
    <li *ngFor="let person of peopleFilteredView">
      <ng-container [ngSwitch]="person.inEditMode">
        <person-entry
          *ngSwitchCase="false"
          [id]="person.id"
          [displayedIn]="displayedIn"
          [person]="person"
          [inEditMode]="inEditMode"
          [sortField]="sortService.sort.field"
          [currPageSection]="'ALLOCATE'"
          [isCollapsed]="isCollapsed(person.id)"
          (editEvent)="editRow($event)"
          (deleteEvent)="removeExistingRow($event)"
          (calendarChangeEvent)="updateCalendar($event)"
          (tagChangeEvent)="updateTags($event)"
          (collapseEvent)="handleCollapse($event)"
        ></person-entry>
        <person-entry-form
          *ngSwitchCase="true"
          [id]="person.id"
          [displayedIn]="displayedIn"
          [person]="person"
          [sortField]="sortService.sort.field"
          [currPageSection]="'ALLOCATE'"
          [referenceDate]="referenceDate"
          [getNameTypeAhead]="boundGetNameTypeahead"
          [dispatchToParentAndClose]="saveChangesInProgress"
          (deleteEvent)="removeExistingRow($event)"
          (calendarChangeEvent)="updateCalendar($event)"
          (formEditEvent)="updatePersonDetails($event)"
          (tagChangeEvent)="updateTags($event)"
        ></person-entry-form>
      </ng-container>
    </li>
  </div>
</ul>
<modal-window
  *ngIf="showSubmitModal"
  [text]="'Submit list?'"
  [btnConfirmText]="'Submit'"
  [btnCloseText]="'Cancel'"
  [modalType]="'CONFIRM'"
  (closeEvent)="handleModalClose($event)"
></modal-window>
<loading-overlay *ngIf="fetching || uploading"> </loading-overlay>
