<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="close(false)"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">{{ text }}</div>
  <div class="modal-footer">
    <button
      *ngIf="btnConfirmText"
      type="button"
      class="btn btn-primary"
      (click)="close(true)"
    >
      {{ btnConfirmText }}
    </button>
    <button
      *ngIf="btnCloseText"
      type="button"
      class="btn btn-secondary"
      (click)="close(false)"
    >
      {{ btnCloseText }}
    </button>
  </div>
</ng-template>

<ng-template #templateSimple>
  <div class="modal-body text-center">
    <p>{{ text }}</p>
    <button
      *ngIf="btnConfirmText"
      type="button"
      class="btn btn-sm btn-primary mr-10"
      (click)="close(true)"
    >
      {{ btnConfirmText }}
    </button>
    <button
      *ngIf="btnCloseText"
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="close(false)"
    >
      {{ btnCloseText }}
    </button>
  </div>
</ng-template>

<ng-template #templateSettings>
  <div id="settings-window" class="modal-body text-center">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Settings</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="close(false)"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="settings-window-content">
      <ng-content select="[settings]"></ng-content>
    </div>
    <div class="modal-footer settings-buttons">
      <button
        *ngIf="btnConfirmText"
        type="button"
        class="btn btn-primary mr-10"
        (click)="close(true)"
      >
        {{ btnConfirmText }}
      </button>
      <button
        *ngIf="btnCloseText"
        type="button"
        class="btn btn-secondary"
        (click)="close(false)"
      >
        {{ btnCloseText }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateInputSmall>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="close(false)"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content select="[input]"></ng-content>
  </div>
  <div class="modal-footer">
    <ng-content select="[buttons]"></ng-content>
    <button type="button" class="btn btn-primary mr-10" (click)="close(true)">
      {{ btnConfirmText }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="close(false)">
      {{ btnCloseText }}
    </button>
  </div>
</ng-template>
