<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand navbar-logo" href="#">
      <app-logo></app-logo>
    </div>

    <div class="navbar-expand">
      <ul class="navbar-nav">
        <li
          *ngIf="
            pageSection === 'ALLOCATE' ||
            pageSection === 'SUBMIT' ||
            pageSection === 'UPLOAD'
          "
          class="nav-item mr-30"
        >
          <button
            class="btn btn-primary"
            type="button"
            [disabled]="!dataStoreService.areChangesPending"
            (click)="saveChanges()"
          >
            Save work
          </button>
        </li>
        <div class="toolbar-group toolbar-group--center flex flex-ver-ctr">
          <calendar
            *ngIf="pageSection !== 'STATS'"
            [scrollable]="true"
            [weekly]="true"
            [baseDay]="1"
            [dateVal]="referenceDate"
            [askToConfirmDateChange]="true"
            (dateChangeEvent)="handleDateChange($event)"
          ></calendar>
          <div
            class="form-check form-switch"
            tooltip="Exclude past dates"
            placement="bottom"
            [adaptivePosition]="false"
            [delay]="700"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              [disabled]="pageSection !== 'ALLOCATE'"
              [(ngModel)]="excludePast"
            />
          </div>
        </div>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'ALLOCATE'
            }"
            (click)="setPageSection('ALLOCATE')"
            >Allocate</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'SUBMIT'
            }"
            (click)="setPageSection('SUBMIT')"
            >Submit</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'UPLOAD'
            }"
            (click)="setPageSection('UPLOAD')"
            >Upload</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'STATS'
            }"
            (click)="setPageSection('STATS')"
            >Stats</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: true
            }"
            (click)="toggleShowSettings()"
            ><i class="bi bi-gear"></i
          ></span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content-container">
  <people-list
    *ngIf="pageSection === 'SUBMIT'"
    [displayedIn]="'SUBMIT'"
    [referenceDate]="referenceDate"
  ></people-list>
  <upload-section
    *ngIf="pageSection === 'UPLOAD'"
    [referenceDate]="referenceDate"
  ></upload-section>
  <allocate-section
    *ngIf="pageSection === 'ALLOCATE'"
    [referenceDate]="referenceDate"
    [excludePast]="excludePast"
  ></allocate-section>
  <stats-section *ngIf="pageSection === 'STATS'"></stats-section>
</div>
<settings *ngIf="showSettings" (closeEvent)="closeSettings()"></settings>
