<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  crossorigin="anonymous"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css"
/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand app-logo" href="#">
      <i>i</i>Beach <img class="app-logo-icon" src="../assets/beach-icon.png" />
    </div>

    <div class="navbar-expand">
      <ul class="navbar-nav">
        <div class="toolbar-group toolbar-group--center flex flex-ver-ctr">
          <calendar
            [scrollable]="true"
            [weekly]="true"
            [baseDay]="1"
            [dateVal]="referenceDate"
            (dateChangeEvent)="handleDateChange($event)"
          ></calendar>
        </div>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'ALLOCATE'
            }"
            (click)="setPageSection('ALLOCATE')"
            >Allocate</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'SUBMIT'
            }"
            (click)="setPageSection('SUBMIT')"
            >Submit</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'UPLOAD'
            }"
            (click)="setPageSection('UPLOAD')"
            >Upload</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: pageSection === 'ARCHIVE'
            }"
            (click)="setPageSection('ARCHIVE')"
            >Stats</span
          >
        </li>
        <li class="nav-item">
          <span
            [ngClass]="{
              'nav-link': true,
              'nav-main': true,
              clickable: true,
              active: true
            }"
            (click)="toggleShowSettings()"
            ><i class="bi bi-gear"></i
          ></span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content-container">
  <people-list
    *ngIf="pageSection === 'SUBMIT'"
    [displayedIn]="'SUBMIT'"
    [referenceDate]="referenceDate"
  ></people-list>
  <upload-section
    *ngIf="pageSection === 'UPLOAD'"
    [referenceDate]="referenceDate"
  ></upload-section>
  <allocate-section
    *ngIf="pageSection === 'ALLOCATE'"
    [referenceDate]="referenceDate"
  ></allocate-section>
</div>
<settings *ngIf="showSettings"></settings>
