<nav class="main-toolbar">
  <div class="toolbar-group toolbar-group--left flex flex-ver-ctr">
    <div class="custom-control custom-checkbox">
      <input
        type="checkbox"
        class="custom-control-input"
        id="withCST"
        [checked]="splitByCST"
        (change)="updateCSTView($event)"
      />
      <label class="btn-menu btn-menu--small ml-10" for="withCST"
        >CST view</label
      >
    </div>
    <!-- <div class="custom-control custom-checkbox ml-15">
      <input
        type="checkbox"
        class="custom-control-input"
        id="withTags"
        [checked]="withTags"
        (change)="updateTags($event)"
      />
      <label class="btn-menu btn-menu--small ml-5" for="withTags">Tags</label>
    </div> -->
  </div>
  <div class="toolbar-group toolbar-group--center flex flex-ver-ctr">
    <calendar
      [isSmall]="false"
      [showRange]="true"
      [contained]="true"
      (rangeChangeEvent)="onDateRangeChange($event)"
    ></calendar>
    <button
      *ngIf="true"
      type="button"
      class="btn btn-primary mr-20"
      [disabled]="!dateRange || !dateRange.length"
      (click)="onSubmit()"
    >
      Search
    </button>
  </div>
  <div class="toolbar-group toolbar-group--right flex flex-ver-ctr">
    <input
      #searchInput
      [disabled]="!this.entries.length"
      type="text"
      class="form-control"
      placeholder="Search"
    />
  </div>
</nav>

<ul class="people" id="page-upload" #page>
  <li>
    <stats-header
      [sortable]="true"
      [currentSort]="sortService.sort"
      [withTeam]="showCSTHeader"
      (newSortEvent)="handleSort($event)"
    ></stats-header>
  </li>
  <div class="people-content">
    <div *ngIf="fetchError" class="alert alert-danger">
      {{ fetchError }}
    </div>
    <div *ngIf="!entries.length" class="alert alert-primary">
      No data to display
    </div>
    <li *ngFor="let entry of entries; let i = index">
      <stats-entry
        [id]="i"
        [entry]="entry"
        [sortField]="sortService.sort.field"
      ></stats-entry>
    </li>
  </div>
</ul>
<loading-overlay *ngIf="fetching"> </loading-overlay>
