<div
  class="calendar col-xs-12 col-12 col-md-6 mw-11 form-group person-date-form mr-20 flex flex-ctr-hor flex-ver-ctr"
>
  <i
    *ngIf="scrollable"
    class="bi bi-arrow-left clickable mr-5"
    (click)="setNew('prev')"
  ></i>

  <input
    *ngIf="!showRange"
    type="text"
    placeholder="Datepicker"
    class="form-control no-select"
    [class.data-entry-input]="isSmall"
    bsDatepicker
    [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MMM-YYYY' }"
    [formControl]="displayDate"
    [class.is-invalid]="showError"
    (bsValueChange)="onDateChange($event)"
    [placement]="placement"
  />
  <input
    *ngIf="showRange"
    type="text"
    placeholder="Select dates"
    [placement]="placement"
    class="form-control no-select"
    [class.data-entry-input]="isSmall"
    bsDaterangepicker
    ([ngModel])="(bsRangeValue)"
    [bsConfig]="{
      isAnimated: true,
      rangeInputFormat: 'DD-MMM-YYYY'
    }"
    (bsValueChange)="onRangeChange($event)"
  />

  <i
    *ngIf="scrollable"
    class="bi bi-arrow-right clickable ml-5"
    (click)="setNew('next')"
  ></i>
</div>
<modal-window
  *ngIf="showConfirmLeaveModal"
  [text]="'You are in edit mode and may lose your changes.'"
  [btnConfirmText]="'Continue'"
  [btnCloseText]="'Cancel'"
  [modalType]="'CONFIRM'"
  (closeEvent)="handleModalClose($event)"
></modal-window>
