.weekday-list {
  width: 100%;
}

.btn-unavail {
  color: gray;
  opacity: 0.8;
}

.calendar-input,
.calendar.entry {
  width: 50px;
  display: inline-block;
}

.cal-entry {
  width: 53px;
  height: 38px;
}

.btn-allocated {
  // background-color: rgba(25, 135, 84, 0.85);
  background-color: #ced4da;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  word-break: break-all;
  padding: 2px;

  &--green {
    background-color: rgba(25, 135, 84, 0.6);
  }

  &--yellow {
    background-color: rgba(255, 193, 7, 0.7);
  }

  &--orange {
    background-color: rgba(253, 125, 20, 0.6);
  }

  &--red {
    background-color: rgba(220, 53, 69, 0.6);
  }
}
