<ng-template>
  <input class="form-control" />
  <datalist id="dataListOptions">
    <option *ngFor="let item of dropdownList" value="item.value"></option>
  </datalist>
</ng-template>

<div class="weekday-list flex flex-hor-ctr flex-ver-ctr">
  <ng-container *ngFor="let entry of weekDaysArr; let i = index">
    <ng-container [ngSwitch]="showDropdownAtDay !== entry.value">
      <label
        *ngSwitchCase="true"
        [ngClass]="getClass(i)"
        ngDefaultControl
        btnCheckbox
        tabindex="0"
        role="button"
        (click)="handleBtnClick(i)"
        >{{ entry.value | titlecase }}</label
      >
      <input
        *ngSwitchCase="false"
        class="form-control calendar-input"
        [formControl]="allocatedTo"
        [typeahead]="getDropdownTypeahead()"
        (typeaheadOnSelect)="onDropdownSubmit()"
      />
    </ng-container>
  </ng-container>
</div>
