.weekday-list {
  width: 100%;
}

.btn-unavail {
  color: gray;
  opacity: 0.8;
}

.calendar-input,
.calendar.entry {
  width: 50px;
  display: inline-block;
}

.cal-entry {
  width: 53px;
  height: 38px;
}

.btn-allocated {
  background-color: var(--bs-success);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  word-break: break-all;
  padding: 2px;
}
