.weekday-list {
  width: 100%;
}

.btn-unavail {
  color: gray;
  opacity: 0.8;
}

.calendar-input,
.calendar.entry {
  width: 50px;
  display: inline-block;
}

.calendar.entry {
  background-color: var(--bs-success);
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

.btn-allocated {
  width: 50px;
  height: 38px;
  background-color: var(--bs-success);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}
