<ng-template>
  <input class="form-control" />
  <datalist id="dataListOptions">
    <option *ngFor="let item of dropdownList" value="item.value"></option>
  </datalist>
</ng-template>

<div class="weekday-list flex flex-hor-ctr flex-ver-ctr">
  <ng-container *ngFor="let entry of weekDaysArr; let i = index">
    <ng-container [ngSwitch]="showDropdownAtDay !== entry.day">
      <label
        id="{{ id + '-' + i }}"
        *ngSwitchCase="true"
        [ngClass]="getClass(i)"
        ngDefaultControl
        btnCheckbox
        tabindex="0"
        (click)="handleBtnClick(i)"
        (pointerdown)="handlePointerDown($event, i)"
        >{{
          entry.type === "avail" || entry.type === "away"
            ? entry.value.text
            : entry.value.text
        }}</label
      >
      <input
        #dropdown
        *ngSwitchCase="false"
        class="form-control calendar-input"
        [formControl]="allocatedTo"
        [typeahead]="getDropdownTypeahead()"
        (typeaheadOnSelect)="onDropdownSubmit()"
        (blur)="onInputBlur($event)"
      />
    </ng-container>
  </ng-container>
</div>
