<ng-template #tagList>
  <div class="tag-list flex flex-ver-ctr">
    <ul class="flex flex-ver-ctr mr-5">
      <li
        *ngFor="let tag of person.tags"
        class="badge flex no-select mr-3 m-bot-2"
        [class.bg-primary-light]="tag.type === 'ind'"
        [class.bg-secondary-light]="tag.type === 'fun'"
      >
        {{ tag.value }}
        <i
          *ngIf="inEditMode"
          class="bi bi-x-lg tag-delete clickable"
          (click)="onTagDelete(tag.value, 'entry')"
        ></i>
      </li>
      <li>
        <i
          *ngIf="inEditMode && !showAddTag"
          class="bi bi-plus clickable add-tag"
          (click)="setShowAddTag(true)"
        ></i>
      </li>
      <li>
        <form *ngIf="showAddTag" (ngSubmit)="onTagSubmit('entry')">
          <input
            #addTag
            class="form-control form-control-xs tag-input m-bot-2"
            type="text"
            [formControl]="tagInput"
            [typeahead]="getTagTypeahead()"
            (typeaheadOnSelect)="onTagSubmit('entry')"
          />
        </form>
      </li>
    </ul>
  </div>
</ng-template>

<div
  #entryContainer
  id="{{ id }}"
  class="entry-item tl-row no-select"
  [class.entry-item--uncollapsed]="entryContainerWidth < 4 && !isCollapsed"
  [class.droppable]="entryData.daysLeft > 0"
  [class.droppable-projects]="entryData.daysLeft > 0"
>
  <span
    *ngIf="entryContainerWidth === 4"
    id="{{ id + '__name' }}"
    [ngClass]="getFieldClasses('name')"
    draggable="true"
    (dragstart)="handleDragStart($event)"
    >{{ person.name | max25chars }}</span
  >
  <span
    *ngIf="entryContainerWidth < 4"
    id="{{ id + '__name' }}"
    type="button"
    [ngClass]="getFieldClasses('name')"
    role="button"
    draggable="true"
    (dragstart)="handleDragStart($event)"
    (click)="handleCollapse()"
    [attr.aria-expanded]="isCollapsed"
    [attr.aria-controls]="'collapse-' + id"
  >
    {{ person.name | max25chars }}
  </span>
  <div [ngClass]="getFieldClasses('skill')">
    <span>{{ person.skill }}</span>
  </div>
  <span
    *ngIf="displayedIn !== 'ALLOCATE'"
    [ngClass]="getFieldClasses('availDate')"
    >{{ person.availDate | date: "dd-MMM" }}</span
  >
  <span [ngClass]="getFieldClasses('days')">{{ person.daysLeft }}</span>
  <div class="calendar-group mr-12">
    <week-days
      class="flex flex-ver-ctr"
      [id]="id"
      [weekObj]="person.week"
      [inEditMode]="inEditMode"
      [droppable]="displayedIn === 'ALLOCATE'"
      [displayedIn]="'people'"
      (calendarChange)="onCalendarChange($event)"
      (allocation)="onAllocation($event)"
    ></week-days>
  </div>

  <div
    @insertRemoveTrigger
    *ngIf="entryContainerWidth === 2 || entryContainerWidth > 2"
    [ngClass]="getFieldClasses('tags')"
    [class.no-width]="entryContainerWidth < 2"
    [class.section-tags--edit-mode]="showAddTag"
  >
    <ng-container *ngTemplateOutlet="tagList"></ng-container>
  </div>
  <div
    @insertRemoveTrigger
    *ngIf="entryContainerWidth === 3 || entryContainerWidth > 3"
    [ngClass]="getFieldClasses('pdm')"
  >
    <span class="bg-secondary-light"> {{ person.pdm | initials }}</span>
  </div>
  <span
    @insertRemoveTrigger
    *ngIf="entryContainerWidth === 4 || entryContainerWidth > 4"
    [ngClass]="getFieldClasses('comments')"
  >
    {{ person.comments }}
  </span>
  <div class="edit-entry-icons">
    <i
      @insertRemoveTrigger
      *ngIf="editable && inEditMode"
      class="bi bi-pencil i-active mr-8"
      (click)="handleEdit()"
    ></i>
    <i
      @insertRemoveTrigger
      *ngIf="editable && inEditMode"
      class="bi bi-trash i-active"
      (click)="handleDelete()"
    ></i>
  </div>
</div>
<div
  *ngIf="entryContainerWidth < 4"
  id="{{ 'collapse-' + id }}"
  [collapse]="isCollapsed"
  [isAnimated]="true"
>
  <div class="collapsed-section no-select">
    <div
      @insertRemoveTrigger
      *ngIf="entryContainerWidth < 3"
      [ngClass]="getFieldClasses('pdm')"
    >
      <span class="bg-secondary-light"> {{ person.pdm | initials }}</span>
    </div>
    <span class="break-ver fs-12 mr-3"> | </span>
    <div
      @insertRemoveTrigger
      *ngIf="entryContainerWidth < 2"
      [ngClass]="getFieldClasses('tags')"
      [class.section-tags-small]="true"
      [class.section-tags--edit-mode]="showAddTag"
    >
      <ng-container *ngTemplateOutlet="tagList"></ng-container>
    </div>
    <span *ngIf="entryContainerWidth === 1" class="break-ver fs-12 mr-3">
      |
    </span>
    <span
      @insertRemoveTrigger
      *ngIf="entryContainerWidth < 4"
      [ngClass]="getFieldClasses('comments')"
    >
      {{ person.comments }}
    </span>
  </div>
</div>
