.person-entry {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.person-name {
  width: 25%;
  min-width: 25%;
}

.person-skill {
  width: 15%;
  min-width: 15%;
}

.person-days {
  width: 10%;
  min-width: 10%;
}

.person-comments {
  width: 30%;
  min-width: 30%;
}

.btn-group {
  width: 50%;
  min-width: 50%;
}

.tbl-col {
  margin-right: 12px;
}
