.person-entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.8px dashed rgba(0, 0, 0, 0.3);

  &--uncollapsed {
    border-bottom: none;
  }
}

.section-pdm {
  & > span {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
