<modal-window modalType="SETTINGS" btnConfirmText="Save" btnCloseText="Cancel">
  <div id="settings-list">
    <div class="mb-3 row">
      <label for="inputPDMs" class="col-sm-2 col-form-label">PDMs</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="inputPDMs" rows="2"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputProjectTypes" class="col-sm-2 col-form-label"
        >Project types</label
      >
      <div class="col-sm-10">
        <textarea
          class="form-control"
          id="inputProjectTypes"
          rows="2"
        ></textarea>
      </div>
    </div>
  </div>
</modal-window>
