<modal-window
  modalType="SETTINGS"
  btnConfirmText="Save"
  btnCloseText="Cancel"
  [canSubmit]="true"
  [hideOnBackdropClick]="!showInputModal"
  (closeEvent)="closeSettings($event)"
>
  <div class="container" id="settings-list" settings>
    <div class="settings-row">
      <label class="form-label settings-label" for="settings-pdm-list"
        >PDMs</label
      >
      <div class="settings-content">
        {{ pdmArr.join(", ") }}
      </div>
      <div class="settings-icon">
        <i
          class="bi bi-pencil clickable"
          (click)="displayInputModal('pdm')"
        ></i>
      </div>
    </div>
    <div class="settings-row">
      <label class="form-label settings-label">Email</label>
      <div class="settings-content">
        <button
          class="btn btn-dark btn-sm"
          (click)="displayInputModal('email')"
        >
          <i class="bi bi-pencil clickable mr-5"></i>
          Edit template
        </button>
      </div>

      <div class="settings-icon"></div>
    </div>
  </div>
</modal-window>
<modal-window
  *ngIf="showInputModal && inputModalType !== 'email'"
  modalType="INPUT_SMALL"
  btnConfirmText="Save"
  btnCloseText="Cancel"
  [canSubmit]="true"
  [title]="inputModalTitle"
  (closeEvent)="closeInputModal($event, 'pdms')"
>
  <div id="settings-list" input>
    <textarea
      class="form-control settings-text-area"
      rows="17"
      [formControl]="inputContent"
    ></textarea>
  </div>
</modal-window>
<modal-window
  *ngIf="showInputModal && inputModalType === 'email'"
  modalType="INPUT_LARGE"
  btnConfirmText="Save"
  btnCloseText="Cancel"
  [canSubmit]="true"
  [title]="inputModalTitle"
  (closeEvent)="closeInputModal($event, 'email')"
>
  <div id="settings-list" input>
    <form [formGroup]="emailForm">
      <div class="mb-3">
        <label class="form-label bld">Subject</label>
        <input class="form-control" formControlName="subject" />
      </div>
      <div class="mb-3">
        <label class="form-label bld">Main template</label>
        <textarea
          class="form-control"
          rows="10"
          formControlName="content"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label bld">No allocation template</label>
        <textarea
          class="form-control"
          rows="10"
          formControlName="contentNoAllocation"
        ></textarea>
      </div>
    </form>
  </div>
  <div buttons>
    <button class="btn btn-warning mr-30" (click)="restoreEmailToDefault()">
      Restore default
    </button>
  </div>
</modal-window>
